$bri-color-a1: #961414;
$bri-color-g5: #3d7d43; // Positive
$bri-color-k1: #f5f5f5; // Background
$bri-color-k2: #e5e5e5;
$bri-color-k3: #cccccc; // Disabled
$bri-color-k4: #909090;
$bri-color-k7: #666666; // Secondary Text
$bri-color-k10: #262626; // Default Text
$bri-color-t1: #006375; // Accent Hover
$bri-color-t2: #007a91; // Accent
$bri-color-t3: #bfebf3;
$bri-color-t4: #e7f8fb;
$bri-color-o5: #ec6608; // Warning
$bri-color-r5: #cf3524; // Negative
$bri-color-w: #ffffff; // Background
