@use 'sass:map';
@use './../../core/theming/palette';

.bri-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &.bri-list-item--selected {
    background-color: palette.$bri-color-k1;
  }

  &-active {
    background-color: palette.$bri-color-k2;
  }
}
